{% extends 'base.html'%} 
{% block content %} 

<br>
<br>
<br>


<div class="main">
    <div class="container-fluid">
      <div class="row">

        <div class="col-3">
          <div class="card-column">
            <div class="card-header">
              <h4>Browse News Sources</h4>
            </div>
            <div class="list-group list-group-flush scrolly">
              <ul>
                {% for source in sources %}
                <a href="/source/{{source.id}}" class="list-group-item list-group-item-action">{{source.name}}</a>
            {%endfor%}
              </ul>
            </div>

          </div>
        </div>

    <!-- headlines -->
    <div class="col-9">
        <h2 align="center"> Articnews </h2>
        <div class="container">
          <div class="card-columns">
           
        {% for article in top_news %}
        <!-- <li>{{ article.author}}</li>
           <li>{{ article.title}}</li>
           <li>{{ article.description}}</li>
           <li>{{ article.url}}</li>
           <li>{{ article.urlToImage}}</li>
           <li>{{ article.publishedAt}}</li>
           <li>{{ article.content}}</li> -->
            <div class="card">
              <img class="card" src="{{article.urlToImage}}" alt="Card image cap" size="100px200">
              <div class="card-body">
                <h5 class="card-title">{{article.author}}</h5>
                <a href="{{article.url}}" target="_blank" style="color: #fff;">
                    <button type="button" class="btn btn-primary">
                        Read More <span class="badge badge-light">4</span>
                      </button>
                </a>
              </div>
             
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}
   


  
  
  
 